.foot {
  padding: 47px 0 51px 0;
  .foot_top_right {
    display: flex;
    gap: 72px;

    ul {
      a {
        color: $color-black;
        font-size: 12px;
        font-weight: 700;
        line-height: 116.667%;
      }
    }
  }
  .line {
    width: 100%;
    height: 1px;
    background: #dbdbdb;
    margin: 16px 0 22px 0;
  }
  .foot_bottom {
    display: flex;
    flex-direction: column;
    gap: 14px;
    p {
      color: $color-black;
      font-size: 9px;
      font-weight: 700;
      line-height: 211.111%;
      max-width: 65%;
    }
  }
}
@media screen and (min-width: 746px) {
  .foot {
    .line {
      margin-top: 50px;
    }
    .foot_top {
      display: flex;
      gap: 100px;
    }
    .foot_top_right {
      gap: 41px;
      .features {
        display: flex;
        gap: 39px;
      }
      .medium {
        display: flex;
        gap: 39px;
      }
    }
    .foot_bottom {
      flex-direction: row;
      gap: 93px;
      .foot_bottom_right {
        display: flex;
        gap: 30px;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .foot {
    padding-top: 79px;
    .foot_top {
      gap: 194px;
    }
    .foot_top_right {
      .features {
        gap: 59px;
      }
      ul {
        a {
          font-size: 19px;
        }
      }
    }
    .foot_bottom {
      p {
        font-size: 15px;
      }
    }
    .line {
      height: 2px;
    }
  }
}
